* {box-sizing:border-box; }
body {margin: 0; -webkit-font-smoothing: antialiased; background-color: #000;}
body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
html,body,#root, .App {height: 100%;}
body, button, input{ font-family:avenir, sans-serif;}

/*toggle*/
.toggle {
  width: 75px; height: 50px; background: #ccc; border: 2px solid #000; position:relative}
.toggle.on {background: #ccff00}
.toggle:before { content: ''; position:absolute ; top: 10px; width: 20px; height: 30px; background: #fff}
.toggle.off:before { left: 10px;}
.toggle.on:before { right: 10px;}


.App {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mb-2{ margin-bottom: 20px}
.text-xl{ font-size: 28px; line-height: 1;}
.card button { display:block; width:100%; padding:10px; font-size: 18px;}

/* Position */
.card-container { display: block; width: 300px; height: 300px; position: relative; }
.card { position: relative; width: 100%; height: 100%; }
.card > .front,
.card > .back { padding:30px; position: absolute; width: 100%; height: 100%; overflow-y: auto; border-radius: 10px;box-shadow: 5px 5px 5px rgba(0,0,0,0.3);}
 
/* Animation Stuff */
.card-container { perspective: 1000px; }
.card { transition: transform 0.5s; transform-style: preserve-3d; }
.card-container.flip > .card { transform: rotateY(180deg); }
 
.card > .front,
.card > .back { backface-visibility: hidden; }
.card > .back { transform: rotateY(180deg); }
 
/* Custom */
.card > .front { background: rgba(255,255,255,0.6); color: #000; }
.card > .back { background: #000; color: #fff }
.card-container.show_category > .card > .back { background: red; color: #fff; }